*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0A22F4;
}

footer{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form{
    color: #ffffff;
}

h1,
p{
    color: #ffffff;
}

.map{
    max-width: 463px;
    max-height: 197px;
    border-radius: 15px;
    box-shadow: -10px 10px #ffffff;
}

.contact-p{
    max-width: 300px;
    padding-top: 20px;
}

.phone-img,
.gmail-img{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 20px;   
    margin-right: 10px; 
}

.nm{
   display: flex;
   align-items: center;
   padding-top: 50px;
}

.phone-number{
    padding-right: 10px;
}

.made-with{
    display: flex;
    align-items: center;
}

.div3{
    display: flex;
    margin-top: 80px;
}
    
.smart-web-logo{
    padding-left: 30px;
    padding-bottom: 10px;
}

.all-rights{
    padding-left: 20px;
    padding-top: 80px;
}

.div1{
    padding-left: 200px;
}

.div2{
    padding-right: 100px ;
    margin-top: 200px;
}


.map-div{
    padding-top: 50px;
}

input{
    border: none;
    background-color: #0A22F4;
}

.button{
     background-color: #ffffff;
     border-radius: 25px;
     color: black;
     max-width: fit-content;
     padding: 15px;
     margin-left: 300px;
}

form{
    padding-bottom: 50px;
}